
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.kent.ac.uk/kent-theme-assets/assets/images/favicons/apple-touch-icon.png?1702548787">
    <link rel="icon" type="image/png" sizes="32x32"  href="https://www.kent.ac.uk/kent-theme-assets/assets/images/favicons/favicon-32x32.png?1702548787">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.kent.ac.uk/kent-theme-assets/assets/images/favicons/favicon-16x16.png?1702548787">
    <!-- <link rel="manifest" href="https://www.kent.ac.uk/kent-theme-assets/assets/images/favicons/site.webmanifest?1702548787"> -->
    <link rel="mask-icon" href="https://www.kent.ac.uk/kent-theme-assets/assets/images/favicons/safari-pinned-tab.svg?1702548787" color="#005689">
    <link rel="shortcut icon" href="https://www.kent.ac.uk/kent-theme-assets/assets/images/favicons/favicon.ico?1702548787">
    <meta name="theme-color" content="#ffffff">